<mat-tab-group>
    <mat-tab label="Attendance">
      <h1 style="margin:auto;">Attendance Management System</h1>
      <div class="row" style="padding: 20px;background-color:#d1e0e0;">
       

    <div class="col-md-4">
        <mat-card style="height: 250px;">
            <app-sidenav></app-sidenav>
        </mat-card><br>
        <mat-card style="height: 250px;">
            <app-donut></app-donut>
        </mat-card>
    </div>  
    <div class="col-md-8">  
        <mat-card  style="height: 520px;">
        <app-calander></app-calander>
        </mat-card>
        </div>
</div>            
    </mat-tab>
  
  
  
  
    <mat-tab label="MyTime">
  
      <!-- <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="3" style="background-color:#ccccff">
          <app-sidenav></app-sidenav>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="6" style="background-color:#ccffff">
         
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3" style="background-color:#ccccff">
            <app-donut></app-donut>
        </mat-grid-tile>
      </mat-grid-list> -->


 
  
    </mat-tab>
  
  </mat-tab-group>
