<div id="sidenav">
 <button mat-raised-button [routerLink]="['/Attendance-Details']" style="width: 100%;margin: auto;">Attendance and Break Details</button><br><br>

    <button mat-raised-button [routerLink]="['/Regularization']" style="width: 100%;">Regularization</button><br><br>
    <button mat-raised-button [routerLink]="['/Regularization/Status']" style="width: 100%;">Regularization Status</button><br><br>
    <button mat-raised-button [routerLink]="['/Regularization/Request']" style="width: 100%;">Regularization Request</button><br>
</div>