#card1{
width: 95%;
margin: auto;
}
#card2{
    width: 95%;
margin: auto;
}
.class{
    width: 80%;
    margin: auto;
}
label{
    font-size: 15px;
}
#button{
    padding-top:10px;
}
mat-radio-button{
    padding: 10px;
}
h4{
    padding-top: 8px;
}